version: '3.6'

services:

  db:
    image: redis
    command: ["redis-server", "--appendonly", "yes"]
    hostname: db
    container_name: redis
    restart: always
    volumes:
      - redis-data:/data 
    expose:
      - "6379"

  app:
    build:
      context: ../
      dockerfile: docker/Dockerfile
    image: drive-app
    container_name: app
    stdin_open: true
    tty: true
    restart: always
    volumes:
      - tokens:/app/start_page_token.txt
    depends_on:
      - db

volumes:
  redis-data:
  tokens: